<div class="card task-card-wrap p-3">
  <div class="d-flex justify-content-between">
    <h5>Clevin's Tasks</h5>
    <a href="#" class="btn btn-primary task-btn">Add Task</a>
  </div>
  <div class="card-body mt-4">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <div class="d-flex justify-content-end align-items-center">
      <a href="#" class="btn btn-primary complete-btn">Complete</a>
    </div>
  </div>
</div>
