<div class="card task-card-wrap p-3">
  <div class="d-flex justify-content-between">
    <h5>Clevin's Tasks</h5>
    <button class="btn btn-primary task-btn" (click)="openAddTaskDialog()">Add Task</button>
  </div>
  <div class="card-body mt-4">
    <h5 class="card-title">Special title treatment</h5>
    <span>Saturday, Jun 15, 2024</span>
    <p class="card-text mt-4">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <div class="d-flex justify-content-end align-items-center">
      <button href="#" class="btn btn-primary complete-btn">Complete</button>
    </div>
  </div>
</div>
